/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Nov, 2014, 12:13:56 PM
    Author     : PRIYAL
*/

*{
    margin:0px;
    padding:0px;
    font-size:1em;
    color: #fff;
    font-family: "Shadows Into Light", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:lighter;
    text-shadow:2px 2px 0px #000;
    margin: 0 0 0 0;
}

html,body{ 
    height:100% !important;
    min-height:100% !important;
    max-height:100% !important;
}

#particles{
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    padding:0px;

}
#particles{
    background-color:#000;
    background-image:url('../image/bg.jpg');
    background-attachment:fixed;
    background-size:100% 100%;
    background-position:center center;
    //background:radial-gradient(#009900,#000000);
    //background:-webkit-radial-gradient(#009900,#000000);
}
.page{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:auto;
    z-index:11111;
}

.logo{
    position:absolute;
    right:6%;
    top:10px;
    margin:0 auto;
    display:block;
}

h1,h2,h3,h4{
    text-align:center;
   
}
h1{
    font-size:1em;
}
h2{
    font-size:2em;
}
h3{
     color:#77dff1;
    font-size:3em;
}
h4{
     color:#77dff1;
    font-size:4em;
}


.word {
    position:relative;
    margin:60px auto;
    text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
}

.word span {
    
    font-size:4em;
    display: inline-block;
    transform: translateX(100%) scale(0.9);
    transition: transform 500ms;
}

.word .done {
    color: #6f6;
    transform: translateX(0) scale(1);
}

/*.overlay {
    position:fixed;
    background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);
    background-size:1000px 2px;
    top:0px;
    bottom: 0px;
    content: '';
    left:0px;
    right: 0px;
}*/

.progress-bar-container {
    width:80%;
    height:110px;
    background: url('../image/progress-container.png');
    background-size:100% 100%;
    background-position:center center;
}

.progress-bar {
    height:40px;
    background:#72dbf1 url('../image/progress-bar.png');
    position: absolute;
    margin-left:16px;
    margin-top:16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.launch-day-hat {
    background: url(../image/launch-day-hat.png) no-repeat;
    width: 120px;
    height: 160px;
    position:absolute;
    margin-left:84%;
    margin-top:-260px;
}

.launch-day {
    background: url(../image/launch-day.png) no-repeat;
    width: 112px;
    height: 110px;
   
}
.social-touch{
    margin-top:100px;
}


a{
    cursor:pointer;
}

.contact-me{
    background-image: url(../image/contact-me.png);
    background-position:center center;
    width: 120px;
    height: 120px;
    position:absolute;
    margin-top:-80px;
    margin-left:-60px;
}


