/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Nov, 2014, 12:13:56 PM
    Author     : PRIYAL
*/

*{
    margin:0px;
    padding:0px;
    font-size:1em;
    color: #fff;
    font-family: "Shadows Into Light", Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:lighter;
    text-shadow:2px 2px 0px #000;
    margin: 0 0 0 0;
}

html,body{ 
    height:100% !important;
    min-height:100% !important;
    max-height:100% !important;
}

body{
    background-color:#000;
    background-image:url('../image/bg.jpg');
    background-attachment:fixed;
    background-size:100% 100%;
    background-position:center center;
}

.page{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:auto;
    z-index:11111;
}

.logo{
    position:absolute;
    right:6%;
    top:10px;
    margin:0 auto;
    display:block;
}

.blog-link {
  position:absolute;
  left:6%;
  top:10px;
  margin:0 auto;
  opacity: 0.75;
}

.blog-link a {
  color: #6f6;;
  text-decoration: none;
  border: 5px solid #6f6;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  font-size:3em;
}

h1,h2,h3,h4{
    text-align:center;

}
h1{
    font-size:1.6em;
}
h2{
    font-size:2em;
}
h3{
    color:#77dff1;
    font-size:3.2em;
}
h4{
    color:#77dff1;
    font-size:4em;
}
p{
    color:#77dff1;
    font-size:2em;
}

.word {
    position:relative;
    margin:30px auto;
    text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
}

.word span {

    font-size:3.6em;
    display: inline-block;
    transform: translateX(100%) scale(0.9);
    transition: transform 500ms;
}

.word .done {
    color: #6f6;
    transform: translateX(0) scale(1);
}

.progress-bar-container {
    position:relative;
    width:60%;
    min-height:60px;
    background: url('../image/progress-container.png');
    background-size:100% 100%;
    background-position:center center;
    padding:20px auto;
}

.progress-bar {
    position:absolute;
    height:20px;
    display:block;
    left:10px;
    top:10px;
    width:70%;
    background:#72dbf1 url('../image/progress-bar.png');
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.launch-day-hat {
    width:100px;
    height:100px;
    position:absolute;
    margin-left:24%;
    margin-top:-100px;
    -webkit-transform:rotate(0deg);
}


.social-touch{
    margin-top:40px;
}


a{
    cursor:pointer;
}

.contact-me{
    width:100px;
    height:100px;
    position:absolute;
    margin-top:-10px;
    margin-left:-120px;
    -webkit-transform:rotate(-90deg);
}

/********************************************** Responsive ******************************/

@media (max-width:1600px){

}
@media (max-width:1366px){

}
@media (max-width:1280px){

}
@media (max-width:1024px){

}
@media (max-width:768px){

    h1{
        font-size:1em;
    }
    h2{
        font-size:1.5em;
    }

    h3{
        font-size:2em;
    }

    h4{
        font-size:3em;
    }

    .word span {
        font-family: 'Nothing You Could Do', cursive;
        font-size:2em;
    }
}
@media (max-width:480px){

}
@media (max-width:322px){


}
